<div class='containerUser'>
  <div class='imgUser'>
    <img src='https://cdn-icons-png.flaticon.com/512/6596/6596121.png' alt='' />
  </div>
  <div class='datosUser'>
    <h2><i>Bienvenido {{usuario}}</i></h2>
    <br />
    <h3>Nombre: {{nombre}}</h3>
    <h3>Apellido: {{apellido}}</h3>
    <h3>Email: {{email}}</h3>
    <h3>Tel: {{tel}}</h3>
    <h3>Direccion: {{direccion}}</h3>
    <h3>Edad: {{edad}}</h3>

    <form action='/logout' method='get'>
      <input class='btn btn-danger my-5' type='submit' value='LOGOUT' />
    </form>
  </div>
</div>