<div class='containerUser'>
  <div class='imgUser'>
    <img style='width: 100px' src='{{imagen}}' alt='Imagen subida' />
  </div>
  <div class='datosUser'>

    <br />
    <div>
      <h3>Nombre:</h3>
      <p> {{nombre}}</p>
    </div>
    <div><h3>Apellido:</h3> <p>{{apellido}}</p></div>
    <div> <h3>Email: </h3><p>{{email}}</p></div>
    <div><h3>Tel:</h3> <p>{{tel}}</p></div>
    <div><h3>Direccion: </h3><p>{{direccion}}</p></div>
    <div> <h3>Edad: </h3><p>{{edad}}</p></div>

  </div>
  <form action='/logout' method='get'>
    <input class='btn btn-danger my-5' type='submit' value='LOGOUT' />
  </form>
</div>